<div class="article-footer-copyright">
  <div>本文作者：IT姑凉</div>
  <div>本文链接：<a href="<%- url_for(post.permalink) %>"><%= post.permalink %></a></div>
  <div>本文首发于 <a href="https://itguliang.github.io">IT姑凉博客</a> ，如需转载请注明出处，谢谢！</div>
</div>