.archives-title
  margin: 20px 0 0 0
  font-weight: 400
  font-size: 20px
  color:#555
.archives-wrap
  margin: block-margin 0

.archives
  clearfix()
  margin-left:18px

.archive-year-wrap
  margin-bottom: 1em

.archive-year
  @extend $block-caption
  margin: 18px 0;
  font-weight: 400;
  font-size: 29px;
  line-height: 34px;


.archive-article
  avoid-column-break()

.archive-article-header
  margin:6px
  padding:0 0 0 60px
  position:relative

.archive-article-header h1
  display:inline-block
  margin-left:12px

.archive-article-inner
    
.archive-article-title
  text-decoration: none
  font-weight: 400
  color: color-default
  font-size: 15px
  transition: color 0.2s
  line-height: line-height
  &:hover
    color: color-link
  

.archive-article-footer
  margin-top: 1em

.archive-article-date
  color: color-grey
  text-decoration: none
  font-size: 14px
  line-height: 14px
  margin-right: 10px
  display: inline-block
  position:absolute
  top: 6px
  left: 0px
    

#page-nav
  clearfix()
  margin: block-margin
  text-align: right
  color: color-grey
  overflow: hidden
  a, span
    padding: 10px 20px
    line-height: 1
    height: 2ex
  a
    color: color-grey
    text-decoration: none
    &:hover
      background: color-grey
      color: #fff
  .prev
    //float: left
  .next
    //float: right
  .page-number
    display: inline-block
    @media mq-mobile
      display: none
  .current
    color: color-default
    font-weight: bold
  .space
    color: color-border