#header
  background: white
  height: banner-height
  margin: 0 auto;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  

#header-bar
  height: banner-height
  line-height: banner-height
  width: 90%;
  margin:0 auto

$logo-text
  text-decoration: none
  color: #fff
  font-weight: 300
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3)

#logo
  @extend $logo-text
  font-size: logo-size
  letter-spacing: 2px
  color: #313131
  height: banner-height
  line-height: banner-height
  align-items: center
  display: flex

#logo img
    height: 52px;
    width: 52px;
    outline: 0;
    margin:0 20px 0 0 
    border-radius: 50%;
