.toc-fixed
  position:fixed !important
  top:0 !important
.toc-article
  padding:40px 10px 10px 10px
  width: 20%
  top:70px
  right:0
  position:absolute

  @media mq-mobile
    display:none
  

  a
    text-decoration: none
    color:#555

  .toc-item
    margin:10px 0

  .toc-level-2
    font-size:15px

  .toc-level-3
    font-size:13px

  .toc-title
    color:#444
    font-size:18px

  .toc
    margin-top:10px

  .toc-number
    display:true

  .toc-child
    margin-left:10px